/**
 * @file native_sim.overlay
 * @date 20250526
 * @author flynnty
 * @copyright flynnty 2025
 *
 * @brief
 * Sim Overlay
 *
 */

/ {
	aliases {
	};

	mw_template0: template00 {
		compatible = "misty,template-instance";
		#mw_template-cells = <0>;
		label = "Value Zero";
		value = <10>;
	};

	mw_template1: template01 {
		compatible = "misty,template-instance";
		#mw_template-cells = <0>;
		label = "Value One";
		value = <20>;
	};

	mw_template2: template02 {
		compatible = "misty,template-instance";
		#mw_template-cells = <0>;
		label = "Value Two";
		value = <30>;
	};

	mw_template3: template03 {
		compatible = "misty,template-instance";
		#mw_template-cells = <0>;
		label = "Value Three";
		value = <40>;
	};

	mw_templates: template-group {
		compatible = "misty,template-group";
		mw_templates = <&mw_template0 &mw_template1 &mw_template2 &mw_template3>;
	};
};
